* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.5;
}
html,
body {
  color: #555;
  background-color: #fff;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Libre Baskerville", "Times New Roman", Times, serif;
  font-size: 14px;
  overflow-y: scroll;
}
@media (min-width: 600px) {
  html {
    font-size: 16px;
  }
}
body {
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #353535;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: normal;
}
a {
  color: #4a9ae1;
  text-decoration: none;
}
blockquote {
  border-left: 0.25rem solid #e5e5e5;
  color: #979797;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 600px) {
  blockquote {
    padding: 0 5rem 0 1.25rem;
  }
}
img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}
td {
  vertical-align: top;
}
pre,
code {
  font-family: Menlo, Monaco, monospace;
}
code {
  background-color: #f9f9f9;
  border-radius: 3px;
  color: #bf616a;
  font-size: 85%;
  padding: 0.25em 0.5em;
}
pre {
  margin: 0 0 1rem;
}
pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}
.highlight {
  background-color: #f9f9f9;
  border-radius: 3px;
  line-height: 1.4;
  margin: 0 0 1rem;
  padding: 1rem;
}
.highlight pre {
  margin-bottom: 0;
  overflow-x: auto;
}
.highlight .lineno {
  color: #aaa;
  display: inline-block;
  padding: 0 0.75rem 0 0.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.post {
  padding: 3rem 0;
}
.post-info {
  color: #aaa;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    "Georgia", serif;
  letter-spacing: 0.5px;
  text-align: center;
}
.post-info span {
  font-style: italic;
}
.post-title {
  color: #353535;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
  text-align: center;
}
.post-line {
  border-top: 0.4rem solid #353535;
  display: block;
  margin: 0 auto 3rem;
  width: 4rem;
}
.post p {
  margin: 0 0 1rem;
  text-align: justify;
}
.post a:hover {
  text-decoration: underline;
}
.post img {
  margin: 0 auto 0.5rem;
}
.post img + em {
  color: #aaa;
  display: block;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  text-align: center;
}
.post img.emoji {
  display: inline-block;
  left: 0;
  transform: none;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
  padding: 0;
  margin: 0;
}
.highlight .hll {
  background-color: #ffc;
}
.highlight .c {
  color: #999;
}
.highlight .err {
  color: #a00;
  background-color: #faa;
}
.highlight .k {
  color: #069;
}
.highlight .o {
  color: #555;
}
.highlight .cm {
  color: #09f;
  font-style: italic;
}
.highlight .cp {
  color: #099;
}
.highlight .c1 {
  color: #999;
}
.highlight .cs {
  color: #999;
}
.highlight .gd {
  background-color: #fcc;
  border: 1px solid #c00;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #f00;
}
.highlight .gh {
  color: #030;
}
.highlight .gi {
  background-color: #cfc;
  border: 1px solid #0c0;
}
.highlight .go {
  color: #aaa;
}
.highlight .gp {
  color: #009;
}
.highlight .gu {
  color: #030;
}
.highlight .gt {
  color: #9c6;
}
.highlight .kc {
  color: #069;
}
.highlight .kd {
  color: #069;
}
.highlight .kn {
  color: #069;
}
.highlight .kp {
  color: #069;
}
.highlight .kr {
  color: #069;
}
.highlight .kt {
  color: #078;
}
.highlight .m {
  color: #f60;
}
.highlight .s {
  color: #d44950;
}
.highlight .na {
  color: #4f9fcf;
}
.highlight .nb {
  color: #366;
}
.highlight .nc {
  color: #0a8;
}
.highlight .no {
  color: #360;
}
.highlight .nd {
  color: #99f;
}
.highlight .ni {
  color: #999;
}
.highlight .ne {
  color: #c00;
}
.highlight .nf {
  color: #c0f;
}
.highlight .nl {
  color: #99f;
}
.highlight .nn {
  color: #0cf;
}
.highlight .nt {
  color: #2f6f9f;
}
.highlight .nv {
  color: #033;
}
.highlight .ow {
  color: #000;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #f60;
}
.highlight .mh {
  color: #f60;
}
.highlight .mi {
  color: #f60;
}
.highlight .mo {
  color: #f60;
}
.highlight .sb {
  color: #c30;
}
.highlight .sc {
  color: #c30;
}
.highlight .sd {
  color: #c30;
  font-style: italic;
}
.highlight .s2 {
  color: #c30;
}
.highlight .se {
  color: #c30;
}
.highlight .sh {
  color: #c30;
}
.highlight .si {
  color: #a00;
}
.highlight .sx {
  color: #c30;
}
.highlight .sr {
  color: #3aa;
}
.highlight .s1 {
  color: #c30;
}
.highlight .ss {
  color: #fc3;
}
.highlight .bp {
  color: #366;
}
.highlight .vc {
  color: #033;
}
.highlight .vg {
  color: #033;
}
.highlight .vi {
  color: #033;
}
.highlight .il {
  color: #f60;
}
.css .o,
.css .o + .nt,
.css .nt + .nt {
  color: #999;
}
.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}
.nav {
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: auto;
}
.nav-container {
  margin: 1rem auto;
  position: relative;
  text-align: center;
}
.nav-title {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #555;
  display: inline-block;
  margin: 0;
  padding-right: 0.2rem;
}
.nav-title:hover,
.nav-title:focus {
  opacity: 0.6;
}
.nav ul {
  list-style-type: none;
  margin: 1rem 0 0;
  padding: 0;
  text-align: center;
}
.nav li {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: #555;
  display: inline-block;
  opacity: 0.6;
  padding: 0 2rem 0 0;
}
.nav li:last-child {
  padding-right: 0;
}
.nav li:hover,
.nav li:focus {
  opacity: 1;
}
.nav a {
  color: #555;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}
@media (min-width: 600px) {
  .nav-container {
    text-align: left;
  }
  .nav ul {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
footer {
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    "Georgia", serif;
  padding: 2rem 0;
  text-align: center;
}
footer span {
  color: #555;
  font-size: 0.8rem;
}
.pagination {
  border-top: 0.5px solid #e5e5e5;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    "Georgia", serif;
  padding-top: 2rem;
  position: relative;
  text-align: center;
}
.pagination span {
  color: #353535;
  font-size: 1.1rem;
}
.pagination .top {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  opacity: 0.6;
}
.pagination .top:hover {
  opacity: 1;
}
.pagination .arrow {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  color: #555;
  position: absolute;
}
.pagination .arrow:hover,
.pagination .arrow:focus {
  opacity: 0.6;
  text-decoration: none;
}
.pagination .left {
  left: 0;
}
.pagination .right {
  right: 0;
}
.catalogue-item {
  border-bottom: 1px solid #e5e5e5;
  color: #555;
  display: block;
  padding: 2rem 0;
}
.catalogue-item:hover .catalogue-line,
.catalogue-item:focus .catalogue-line {
  width: 5rem;
}
.catalogue-item:last-child {
  border: 0;
}
.catalogue-time {
  color: #aaa;
  font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua",
    "Georgia", serif;
  letter-spacing: 0.5px;
}
.catalogue-title {
  color: #353535;
  display: block;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.5rem 0;
}
.catalogue-line {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-top: 0.2rem solid #353535;
  display: block;
  width: 2rem;
}
